body {
    background-color: aqua;
    margin: 0;
    padding: 1.5em;
    color: darkblue;
    
    
}



ul{
    list-style-type: none;
}


label{
    margin-right: 20px;
}

.info{
    font-size: 1.5em;
    font-weight: 700;
    
}





