<h2>Welcome, <%= current_user.username%></h2>
<a href = '/players'><h2>View Roster</h2></a>
<a href = ''><h2>View Your Created Players</h2></a>
<a href = '/players/new'><h2>Add a Player</h2></a>

<a href ='/logout'><h3>Log Out</h3></a>
