<h2>Welcome, <%= current_user.username%></h2>
<a href = '/players'><h2>View All Players</h2></a>
<a href = '/user_players/<%= current_user.username %>'><h2>View Your Roster</h2></a>
<a href = '/players/new'><h2>Add a Player</h2></a>

<a href ='/logout'><h3>Log Out</h3></a>
