<h2>House of the <%= current_user.name%>!</h2>
<h3>Your current roster:</h3>
<ul>
<% @players.each.with_index do |player,id|%>
<li><a href= '/players/<%= player.id %>'><%= player.name%></a></li>
<% end %>
</ul>
<a href = '/account'><h5>Back</h5></a>