
<h2>House of the <%= current_user.name%>!</h2>

<ul>
<% @players.each do |player|%>
    <li><a href= '/players/<%= player.slug %>'><%= player.name %></a></li>
<% end %>
</ul>

<a href = '/players/new'>Add a Player</a><br>
<a href = '/account'>Home</a>
