<html>
<head>
<title>Team Managaement System</title>
<link rel="stylesheet" type="text/css" href="<%= url('/styles.css') %>">
</head>
<body>

<h1 id = 'top_header'>Welcome to the Team Managaement System</h1>
<h3><a href = '/login'>Log In</a></h3>
<h3><a href='/signup'>Sign Up</a></h3>
</body>
</html>