<!DOCTYPE html>
<html>
  <head>
    <title>TMS</title>
    <link rel="stylesheet" type="text/css" href = "<%= url('./styles.css') %>">
    
  </head>
  <body>
    <h1>Team Management System</h1>
    <div class="container">
      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
        <%= flash[type] %>
        
        </div>
      <% end %>

      <%= yield %>
 
 
 
    </div>
    
    
  </body>
</html>